<div id="find-page">
  <div class="search-wrap">
    <div class="search-inner">
      <input type="text" value="#明泉泡脚客">
      <span class="iconfont icon-fangdajing"></span>
    </div>
  </div>
  <div class="block">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="image/banner1.jpg" alt="">
          <span>意大利训练备战欧洲杯</span>
        </div>
        <div class="swiper-slide">
          <img src="image/banner2.jpg" alt="">
          <span>航拍海南万人海滩“洗龙水”</span>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="find-blocks find-one">
      <div class="find-blocks-inner">
        <ul class="one-lists">
          <li class="one-item">
            <a href="">
              <div class="one-img"><img src="" alt=""></div>
              <div class="one-info">
                <span class="one-info-title">我的订阅</span>
                <span class="one-info-desc">定制你的专属媒体</span>
              </div>
              <span class="iconfont icon-jiantou"></span>
            </a>
          </li>
          <li class="one-item">
            <a href="">
              <div class="one-img"><img src="" alt=""></div>
              <div class="one-info">
                <span class="one-info-title">吃喝玩乐</span>
                <span class="one-info-desc">本地最有特色的美食福利推荐</span>
              </div>
              <span class="iconfont icon-jiantou"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="find-blocks find-two">
      <div class="find-blocks-inner">
        <ul class="two-lists">
          <li class="two-item bangdan">
            <a href="">
              <div class="two-info">
                <span class="two-title">明星榜</span>
                <span class="two-desc">看你偶像排第几</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item zhibo">
            <a href="">
              <div class="two-info">
                <span class="two-title">明星榜</span>
                <span class="two-desc">看你偶像排第几</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item zhongce">
            <a href="">
              <div class="two-info">
                <span class="two-title">明星榜</span>
                <span class="two-desc">看你偶像排第几</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item smallgame">
            <a href="">
              <div class="two-info ">
                <span class="two-title">明星榜</span>
                <span class="two-desc">看你偶像排第几</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
      </div>
    </div>



    <div class="find-blocks find-two">
      <div class="find-blocks-inner">
        <ul class="two-lists">
          <li class="two-item bangdan">
            <a href="">
              <div class="two-info">
                <span class="two-title">明星榜</span>
                <span class="two-desc">看你偶像排第几</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item zhibo">
            <a href="">
              <div class="two-info">
                <span class="two-title">明星榜</span>
                <span class="two-desc">看你偶像排第几</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item zhongce">
            <a href="">
              <div class="two-info">
                <span class="two-title">明星榜</span>
                <span class="two-desc">看你偶像排第几</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item smallgame">
            <a href="">
              <div class="two-info ">
                <span class="two-title">明星榜</span>
                <span class="two-desc">看你偶像排第几</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
      </div>
    </div>




  </div>
</div>
<script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.swiper-pagination',
    loop:true,
  })
</script>
